body
{
	margin: 0px;
	background-color:#272326;
	font-family: arial sans-serif;
	color:#272326;
}

a
{	
	text-decoration:none;
	color:#272326;
}

#font
{
	background-color:#161616;
	text-align:center;
	margin-top:68px;
}

#font img
{
	width:80%;
}

#content
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;	
	margin-bottom:20px;
	border:2px solid #bA4b0b;
	border-radius:10px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}

.skin
{
	padding:5px;
	border-radius:10px;
	background-color:#dcdcdc;
	margin-bottom:10px;
}

.name
{
	float:left;
	margin-top:10px;
	margin-left:10px;
	font-size: 2em;	
}

.nickname
{
	float:left;
	margin-top:20px;
	margin-left:10px;
	font-size: 1em;	
}

.front button
{
	float:right;
	margin-top:20px;
	margin-right:15px;
}

.ajoutSkin
{
	float:left;
	margin-left:20px;
	margin-top:150px;
}

.ajoutSkin form
{
	display:none;
}

.ajoutSkin div:first-child
{
	float:left;
}

form div
{
	margin-top:8px;
	margin-bottom:8px;
}

.imageChampion
{
	padding:3px;
	border-radius:8px;
	float:left;
	width:60px;	
}

.skinsChampion
{
	clear:both;
	border:2px solid #272326;
	border-radius:8px;
	display:none;
}

.datSkin
{
	float:left;
	margin:15px;
	padding:5px;
	height:410px;
	text-align:center;
	background-color:#272326;
	border-radius:10px;	
}

.skinName
{
	padding:2px;
	color:#dcdcdc;
}

.skinPrice
{
	color:#fdd131;
}

.triangle
{
	float:right;
	border:2px solid #272326;
	border-radius:8px;
	padding:5px;
	width:48px;
}

.libelleChampion
{
	display:none;
}

.numeroSkin
{
	display:none;
}

footer
{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:#161616;
	text-align:center;		
	opacity:0.9;
	color:#dcdcdc;
}